/* ==========================================================================
                HEADER STYLES
   ========================================================================== */

html {
    height: auto;
    min-height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

::selection {
    background: $cBrown;
    color: $cWhite;
    transition: background .2s 0s, color .2s 0s;
}

.block-clear{
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.vertical-center{
    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        margin: 0;
        vertical-align: middle;
    }
}

.center{
    text-align: center;
}

.site-body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main-wrapper{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: transform .3s 0s;

    &.up-header{
        transform: translateY(-30px);
    }

    &.small-header{
        .site-header{
            height: 50px;
        }
    }
}

.address-line-top{
    background: #e4bb7a;

    .main-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .address{
        display: inline-block;
        color: $cDark;
        @include Average;
        font-size: 1.3rem;
        line-height: 1.6rem;

        &:before{
            content: '';
            display: inline-block;
            width: 8px;
            height: 12px;
            background-image: url('/dist/img/spritesheet.png');
            background-position: -52px -53px;
            background-repeat: no-repeat;
            padding-right: 10px;
        }
    }

    .social-link-header{
        display: inline-block;
        width: 13px;
        height: 13px;
        text-decoration: none;
        margin: 8px 16px 7px 0;
        background-image: url('/dist/img/spritesheet.png');

        &:last-child{
            margin-right: 0;
        }

        &.icon-f{
            background-position: -35px -5px;
        }

        &.icon-i{
            background-position: -35px -29px;
        }

        &.icon-t{
            background-position: -29px -53px;
        }
    }
}

.site-header{
    background: #262626;
    height: 80px;
    transition: height .3s 0s;

    .main-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.main-menu{
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

.main-menu-link{
    margin-right: 39px;
    color: $cWhite;
    @include fontAwesome;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s 0s;
    letter-spacing: .05rem;
    vertical-align: middle;

    &:hover{
        color: $cBrown;
    }
}

.last-element-menu{
    display: inline-block;
    position: relative;
    margin-left: 2px;
    width: 15px;
    height: 3px;
    background: $cWhite;

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        top: -5px;
        height: 3px;
        background: $cWhite;
    }
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -5px;
        background: $cWhite;
    }

}

.first-window{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3f3f3f;
    background: darkred;

    .center-content{
        text-align: center;
        margin-top: 76px;
    }

    .title{
        color: #e4bb7a;
        @include wild_youthregular;
        font-size: 5rem;
        line-height: 4.2rem;
        margin-bottom: 0;
        margin-top: 1px;
        margin-left: -9px;
    }

    .name{
        color: $cWhite;
        @include Average;
        font-size: 7.6rem;
        line-height: 7.6rem;
        margin-bottom: .4rem;
    }

    .address{
        color: $cWhite;
        @include Average;
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 4.5rem;
    }

    .arrow{
        margin-bottom: 4.1rem;
    }

    .btn-default{
        @include fontStyle(15,15,0);
        padding: 17px 62px;

    }

    .element-down{
        position: absolute;
        bottom: 50px;
        animation: down-link 2s ease-in-out infinite;
        cursor: pointer;
    }
}

@keyframes down-link {
    0%{transform: translateY(-5px)}
    50%{transform: translateY(5px)}
    100%{transform: translateY(-5px)}
}

.btn-default{
    display: inline-block;
    background: $cBrown;
    color: $cDark;
    @include Montserrat_Regular;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0px 0px 0 0 rgba(38, 38, 38, 0);
    transition: box-shadow .3s 0s, color .3s 0s;

    &:hover {
        box-shadow: inset 0px 0px 50px 30px rgba(38, 38, 38, 0.8);
        color: $cWhite;
    }
}

.arrow{
    width: 70px;
    height: 12px;
    background-image: url('/dist/img/spritesheet.png');
    background-position: -29px -76px;
    margin: 0 auto 0 auto;
}

.handwritten-font{
    @include wild_youthregular;
    color: $cBrown;
}


